body    {
    margin: 0%;
    scroll-behavior: smooth;
}

#topMenyBar {
    position: sticky;
    top: 0;
    width: 100%;
}

#topBar {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#fraktText  {
    color: white;
}

#rabattText {
    color: red;
}

#öppetKöpText   {
    color: white;
}

#meny   {
    display: flex;
    flex-direction: row;
}

#menyBar    {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
}

div#menyBar {
    border-style: none none solid none;
    border-width: 1px;
}

.navbar {
    display: flex;
    background-color: white;
    width: 33%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}
  
.navbar a {
    float: left;
    color: black;
    padding: 2% 2%;
    text-decoration: none;
}
  
.navbar a:hover {
    text-decoration: underline;
}

.menyText   {
    font-size: x-large;
}

.menyLogga {
    display: flex;
    background-color: white;
    width: 33%;
    height: 100%;
    flex-direction: row;
    justify-content: end;
}
  
.menyLogga a {
    color: black;
    text-decoration: none;
}
  
.menyLogga a:hover {
    text-decoration: underline;
}

#tsoobText  {
    font-size: xx-large;
}

.search-container   {
    display: flex;
    justify-content: end;
    width: 25%;
}

#shoppingCart   {
    width: 10%;
    margin: 1%;
}

.varukorg   {
    display: flex;
    justify-content: center;
    
}

#helSida    {
    width: 100%;
}

#reaRuta    {
    margin: 7%;
}

#rutan  {
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mönster   {
    background-color: #BF0A0A;
    width: 33.333%;
    height: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mönsterRuta    {
    width: 80%;
    height: 80%;
    background-color: #ac0909;
    display: flex;
    justify-content: center;
}

#mönsterRuta1   {
    display: flex;
    align-items: flex-end;
}

#mönsterRuta2   {
    display: flex;
    align-items: center;
}

#mönsterRuta3   {
    display: flex;
    align-items: flex-start;
}

.rutText    {
    color: white;
    font-size: x-large;
    display: flex;
    flex-wrap: nowrap;
}

.kläderBar {
    display: flex;
    justify-content: center;
}

.kläderText    {
    font-size: xx-large;
    text-decoration: underline;
}
div.kläderBar  {
    border-style: none none solid none;
    border-width: 1px;
}

.kläderBox {
    margin: 7%;

}

.kläderRutan  {
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#uppKnapp   {
    float: right;
    margin-bottom: 2%;
    margin-right: 2%;
}

.kläderMönster {
    width: 25%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.kläder  {
    width: 98%;
    border-radius: 10%;
    border-style: solid;
}

#infoBakgrund   {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#infoRuta   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.kontaktaOssText    {
    color: white;
    display: flex;
    justify-content: center;
}

.logga{
    width: 40%;
    background-color: white;
    border-radius: 20%;
}

.loggaDiv   {
    display: flex;
    justify-content: center;
    align-items: center;
}

#instagram  {
    display: flex;
    justify-content: center;
}

#twitter    {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#facebook    {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
